srs/SRS.aux
srs/SRS.out
srs/SRS.pdf
srs/SRS.log
srs/SRS.synctex.gz
srs/SRS.toc
srs/section_1/section_1.log
srs/section_2/section_2.log
srs/section_3/section_3.log
srs/SRS_presentation.aux
srs/SRS_presentation.nav
srs/SRS_presentation.out
srs/SRS_presentation.snm
srs/SRS_presentation.synctex.gz
srs/SRS_presentation.pdf
srs/SRS_presentation.toc
dd/DD.toc
dd/DD.pdf
dd/DD.synctex.gz
dd/DD.aux
dd/DD.out
dd/DD_presentation.aux
dd/DD_presentation.nav
dd/DD_presentation.out
dd/DD_presentation.pdf
dd/DD_presentation.snm
dd/DD_presentation.synctex.gz
dd/DD_presentation.toc
dd/section_2/component_diagram/component_diagram.asta.lock
id/id.aux
id/id.out
id/id.pdf
id/id.synctex.gz
id/id.toc
id/id_presentation.aux
id/id_presentation.nav
id/id_presentation.out
id/id_presentation.pdf
id/id_presentation.synctex.gz
id/id_presentation.snm
id/id_presentation.toc
