*.aux
*.out
workspace/*/*.pdf
*.log
*.synctex.gz
*.toc
*.nav
*.lock
*.snm
dd/DD.pdf
dd/DD_presentation.pdf
id/id.pdf
id/id_presentation.pdf
itpd/ITPD.pdf
srs/SRS.pdf
srs/SRS_presentation.pdf
workspace/dd/DD_presentation.bbl
workspace/dd/DD_presentation.blg
workspace/id/ID_presentation.bbl
workspace/id/ID_presentation.blg
